@mixin container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

@mixin title-modification {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    text-transform: none;
    
    @media screen and (min-width:1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}

@mixin list-modification {
    justify-content: space-between;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

@mixin pading-section {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

@mixin logo-modification {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

@mixin flex-centred {
    display: flex;
    align-items: center;
    justify-content: center;
}