:root {
    --title-text-color: #212121;
    --acent-text-color: #2196F3;
    --secondary-text-colar: #757575;
    --black-text-color: #000000;
    --white-text-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --primery-background-color: #F5F4FA;
    --cont-list-colar: rgba(255, 255, 255, 0.6);
    --bg-buttom-colar: #188CE8;
    --br-header-colar: #ECECEC;
    --br-card-colar: #EEEEEE;
    --soc-main-colar: #AFB1B8;

}