.address {
    
}


.address__list {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}


.address__place {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address__place {
    color: var(--white-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    &:hover,
    &:focus {
        color: var(--acent-text-color);
    }
}


.address__link {
    color: var(--cont-list-colar);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--acent-text-color);
    }
}

