.clients {
    @include pading-section;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__wrap {
    @include container;
}

.clients__title {
   @include title-modification;
}

.companies {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.companies__card {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 3 - 30px);
        margin-left: 30px;
        margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 6 - 30px);
        margin-left: 30px;
        margin-top: 30px;
    }

    &__card+&__card {
        margin-left: 30px;
    }
}

.companies__link {
    display: inline-flex;
    width: 100%;
    height: 92px;
    align-items: center;
    justify-content: center;
    fill: var(--soc-main-colar);
    border: 1px solid var(--soc-main-colar);
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--acent-text-color);
        border: 1px solid var(--acent-text-color);
    }

   
}

.companies__logo {
    width: 106px;
    height: 60px;
}