$hero-img-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

.hero {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    text-align: center;
    background-color: var(--secondary-background-color);
    padding-top: 118px;
    padding-bottom: 118px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (max-width:479px) {
        max-width: 480px;
        background-image: $hero-img-gradient, 
            url(../images/mobile/hero-section/Header-img480.jpg); 
    }

    @media screen and (max-width: 479px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (max-width: 479px) and (min-resolution: 192dpi),
    screen and (max-width: 479px) and (min-resolution: 2dppx) {
        background-image: $hero-img-gradient,
            url(../images/mobile/hero-section/Header-img480@2x.jpg);
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {
        max-width: 768px;
        background-image: $hero-img-gradient,
            url(../images/tablet/hero-section/Header-img768.jpg);
    }

    @media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi),
    screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
        background-image: $hero-img-gradient,
            url(../images/tablet/hero-section/Header-img768@2x.jpg);
    }

    @media screen and (min-width: 768px) {
        max-width: 1600px;
        background-image: $hero-img-gradient,
            url(../images/backimg.jpg);
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
        background-image: $hero-img-gradient,
            url(../images/desktop/hero-section/Header-img1600@2x.jpg);
    }
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.main-button {
    padding: 10px 32px;
    background-color: var(--acent-text-color);
    color: var(--white-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border: none;
    border-radius: 4px;
    letter-spacing: 0.06em;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--bg-buttom-colar);
    }

}
