// .modal-wrap {}

.modal-wrap__title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--title-text-color);
    text-align: center;
}